# Vim tags and settings
.vimrc
tags

# R specific
.Rproj.user
.Rhistory
.RData
.Ruserdata

# RCpp output
src/*.o
src/*.so
src/*.dll

# C++ output
test_obj/
obj/
retrocombinator
test_retrocombinator

# output
*.out
inst/doc
*.png
